/* NAVBAR */
/* Nav principale */
.navbar {
  background-color: #333;
  padding: 10px 0;
}

/* Liste horizontale centrée */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center; /* centre horizontalement */
  gap: 30px; /* espace entre les liens */
  margin: 0;
  padding: 0;
}

/* Liens */
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s, transform 0.3s;
}

.navbar a:hover {
  color: #ffcc00;
  transform: scale(1.1);
}