<div class="container">
  <h2>Liste des Factures</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Client</th>
        <th>Total HT</th>
        <th>TVA (20%)</th>
        <th>TTC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of factures">
        <td>{{ f.idFacture }}</td>
        <td>{{ f.dateFacture | date:'yyyy-MM-dd' }}</td>
        <td>{{ f.client.nomClient }}</td>
        <td>{{ getTotalLigne(f) }} DH</td>
        <td>{{ getTVA(f) | number:'1.2-2' }} DH</td>
        <td>{{ getTTC(f) | number:'1.2-2' }} DH</td>
      </tr>
    </tbody>
  </table>
</div>
